body {
  background-color: rgb(12, 226, 226);
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

.headerLink {
  font-size: 1em;
  padding-left: 5px;
  padding-right: 5px;
}

#navContainer {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-around;
  height: 7em;
}

#flavorContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20%;
}

#flavorContainerHeader {
  display: flex;
  align-content: space-between;
}

#modalHeader {
  display: flex;
  justify-content: space-between;
}

#mainShopContainer {
  margin: 0 20%;
}

#shopInfoContainer {
  display: flex;
  background-color: rgb(12, 226, 226);
}

div.content:hover {
  cursor: default;
}