body {
  background-color: rgb(136, 200, 162);
}

h1 {
  font-size: 4em;
  font-family: rig-solid-bold-halftone,sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(229, 68, 37);
}

h1:hover {
  cursor: pointer;
  color: rgb(102, 101, 74);
}

h2 {
  font-size: 2.5em;
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(102, 101, 74);
  padding-top: 10px;
}

h2:hover {
  cursor: default;
}

h3 {
  font-family: rig-solid-bold-halftone,sans-serif;
  font-size: 2em;
  margin: 0;
  color: rgb(229, 68, 37);
  padding-top: 15px;
}

h3:hover {
  cursor: default
}

h4 {
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(102, 101, 74);
  font-size: 1.25em;
  margin: 0;
}

.bodyText {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
  color: rgb(68, 67, 49);
  margin: 0;
}

.headerLink {
  font-size: 1.5em;
  font-style: bold;
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(229, 68, 37);
}

.headerLink:hover {
  color: rgb(102, 101, 74);
}

#navContainer {
  display: flex;
  background-color: rgb(250, 226, 150);
  align-items: center;
  justify-content: space-around;
  height: 7em;
}

#loginContainer {
  margin: 0 20%;
  text-align: center;
  padding-top: 5%;
}

#create-account {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
  color: rgb(68, 67, 49);
}

#create-account:hover {
  cursor: pointer;
  color: rgb(229, 68, 37);
}

.form {
  padding: 2em;
  margin: 0 auto;
  display: flex;
  width: 500px;
  flex-direction: column;
  align-content: center;
}

#createProfileModalBackground {
  background-color: rbg(136, 200, 162);
}

#createAccountBackButton {
  color: rgb(229, 68, 37);
  padding-top: 5px;
}

#createAccountBackButton:hover {
  color: rgb(102, 101, 74);
  cursor: pointer;
}

.ui.modal>.content {
  background-color: rgb(136, 200, 162);
}

.loginInput {
  width: 100%;
  padding: 5px;
}

.input {
  width: 100%;
}

#search {
  width: 300px;
  margin-top: 10px;
}

.ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url] {
  font-family: 'Josefin Sans', sans-serif;
}

#flavorContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20%;
}

#flavorContainerHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#modalHeader {
  display: flex;
  justify-content: space-between;
}

#modalBackButton {
  color: rgb(229, 68, 37);
  padding-top: 10px;
}

#modalBackButton:hover {
  color: rgb(102, 101, 74);
  cursor: pointer;
}

#modalContent {
  display: flex;
}

/* #flavorDetailsDiv {
  padding-left: 15px;
} */

#shopImageAndMapContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.modalText {
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(68, 67, 49);
  margin: 0;
}

.modalLink {
  font-family: "pacifico", sans-serif;
  color: rgb(102, 101, 74);
  font-size: 2em;
}

a {
  color:rgb(68, 67, 49)
}

a:hover {
  color: rgb(229, 68, 37);
}

#userContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20%;
}

#conversationContainer {
  margin: 0 20%;
}

.ui.card>.content, .ui.cards>.card>.content{
  background-color: rgb(250, 226, 150);
}

#googleMap:hover {
  cursor: none;
}

div.content:hover {
  cursor: default;
}

.ui.medium.image, .ui.medium.images .image, .ui.medium.images img, .ui.medium.images svg {
  width: 300px;
  height: auto;
}

.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui) {
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(229, 68, 37);
  font-size: 1.5em;
}

.ui.card .meta>a:not(.ui), .ui.cards>.card .meta>a:not(.ui) {
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(102, 101, 74);
  font-family: "pacifico", sans-serif;
  font-size: 1.25em;
}

.modalLink:hover {
  color:rgb(229, 68, 37)
}

.ui.modal>.header:not(.ui) {
  background-color: rgb(250, 226, 150);
}

.ui.modal>.image.content {
  background-color: rgb(136, 200, 162);
}

.ui.modal>.actions {
  background-color: rgb(136, 200, 162);
}

.ui.header {
  font-family: 'Josefin Sans', sans-serif;
  color:rgb(102, 101, 74);
  margin-bottom: 0;
}

.ui.comments .comment .author {
  font-family: 'Josefin Sans', sans-serif;
  color:rgb(102, 101, 74);
  margin-top: 0;
}

#profileContainer {
  margin: 0 20%;
}

#profileInfo {
  display: flex;
}

#userInfo {
  padding: 5% 0 5% 0;
  padding-left: 10px;
}

.specificConversationContainer {
  margin: 0 20%;
}

#senderMessage {
  text-align: end;
}

.accountEditText {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
  color: rgb(68, 67, 49);
  margin: 0;
}

.accountEditText:hover {
  color: rgb(229, 68, 37);
  cursor: pointer;
}

.ui.active.modal {
  background-color: rgb(136, 200, 162);
}

i.icon:hover {
  cursor: pointer;
  color: rgb(229, 68, 37);
}

#messageHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

div.ui.comments {
  margin: 0;
  max-width: 100%;
}

.ui.comments .comment {
  margin: 0;
}

.ui.items>.item>.content>.header {
  font-family: 'Josefin Sans', sans-serif;
}

.ui.items>.item>.content>.header:hover {
  cursor: pointer;
  color: rgb(229, 68, 37);
}

#profileReviewContainer {
  padding: 10px;
}

#profileReviewHeader:hover {
  cursor: pointer;
  color: rgb(229, 68, 37);
}

label.label {
  font-family: rig-solid-bold-halftone,sans-serif;
  font-size: 1.75em;
  font-weight: 700;
  font-style: normal;
  color: rgb(68, 67, 49);
  padding: 5px;
}